<div class="row-fluid">
<div class="span12">
<div class="page-header position-relative">

<h1><%= "#{@article.title } Haberine " if @article %>Galeri ekleme</h1>

</div>
<%= render 'form' %>
</div>
</div>