<div class="page-header position-relative">
<h1>Kategori düzenleme</h1>
</div>

<%= render 'form' %>

<%= link_to 'Detay', admin_category_path(@category) %> |
<%= link_to 'Geri', admin_categories_path %>
